<h1>Login de Usuario</h1>
<form id="loginForm">
    <label>Ingrese su usuario</label>
    <input type="text" id="user" name="user" required>
    <button id="submit" type="submit">Iniciar sesion</button>
</form>