<nav >
    <div  id="navbarNav">
      <ul >
        <li>
          <a  href="/">Home</a>
        </li>
        <li >
          <a  href="/registro">Registro</a>
        </li>
        <li >
          <a  href="/login">Iniciar sesion</a>
        </li>
      </ul>
    </div>
</nav>