<h1>Registro de Usuario</h1>
<form id="registerForm" action="/signup" method="POST">
    <label>Ingrese su Nombre</label>
    <input type="text" id="name" name="name" required>
    <label>Ingrese su correo</label>
    <input type="email" id="email" name="email" required>
    <label>Ingrese su contraseña</label>
    <input type="password" id="password" name="password" required>
    <button id="submit" type="submit">Registrarse</button>
</form>